@import "tailwindcss";
@import "@splidejs/react-splide/css";
@import "katex/dist/katex.min.css";

html {
  scroll-behavior: smooth;
}

.bg-zinc-850 {
  background-color: #1c1c1f;
}

.function-plot text {
  font-size: 14px !important;
}